<launch>
  <!-- Load ROS parameters -->
  <param name="use_sim_time" value="true"/>

  <!-- Launch the simulator node -->
  <node name="simulator" pkg="rb_project" type="simulator" output="screen">
    <param name="map_file" value="$(find rb_project)/maps/maze_enviroment2.pgm"/>
    <param name="resolution" value="0.5"/>
  </node>

  <!-- Launch RViz with custom configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rb_project)/config/robot_sim.rviz"/>

  <!-- Static transform publisher for map to odom -->
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" 
    args="0 0 0 0 0 0 map odom 100" />

</launch>