<launch>
  <!-- Set parameters for the simulator -->
  <arg name="map_file" default="/home/lattinone/catkin_ws/your_workspace/src/rb_project/maps/cappero_laser_odom_diag_2020-05-06-16-26.png"/>
  <arg name="resolution" default="0.1"/>

  <!-- Launch the simulator node -->
  <node name="simulator" pkg="rb_project" type="simulator" output="screen"
        args="$(arg map_file) $(arg resolution)">
  </node>

  <!-- Launch RViz with the specified configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rb_project)/config/robot_sim.rviz"/>
</launch>